# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environment
venv/
env/
ENV/

# Logs
*.log

# OS/system files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Configs & secrets
config.json
secrets.json

# Python notebooks
*.ipynb_checkpoints

# SQLite (optional)
*.db
